@using Microsoft.AspNetCore.Mvc.Localization

@model PrecizeSoft.GetPdfOnline.Web.MvcCoreApp.Models.Converter

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Convert to PDF"];
}
<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h1>@Localizer["Convert to PDF"]</h1>
            <p>@Localizer["Convert your files to PDF online and free! Just select your file and click the button."]</p>
            <form asp-action="Index" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All"></div>
                <input class="form-control" asp-for="InputFile" type="file" />
                <br />
                <button type="submit" class="btn btn-lg btn-danger">@Localizer["Get PDF online!"]</button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Localizer["Converted files"]</h3>
            </div>
            <div class="panel-body">
                <p class="text-muted">@Localizer["Your PDF files will appear here, once you convert them."]</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>@Localizer["Excellent tool"]</h2>
        <p>@Localizer["We can convert"]
        <a href="#" data-toggle="modal" title="@Model.SupportedFormatsString" data-target="#supportedFormatsModal"
           >@Model.SupportedFormatsCount @Localizer["different file types"]</a>@Localizer["&nbsp;to PDF, support all platforms and mobile devices."]
        @Localizer["We do it for free, because we don't use any 3rd party commercial software."]
        @Localizer["Your privacy is very important to us. We are using https protocol for encrypting all communications,"]
        @Localizer["and all your files will be deleted from our servers forever in an hour after the conversion."]
        </p>
        <p><a class="btn btn-default btn-sm" asp-controller="Home" asp-action="About">@Localizer["Read more"] »</a></p>
    </div>
    <div class="col-md-3">
        <h2>@Localizer["Offline App"]</h2>
        <p>@Localizer["You can download our offline application and convert files on your PC without need to send files via the Internet."]
        @Localizer["It works under Windows operating system (7 and above) and installs in one click."]
        @Localizer["It also can works via local area network in a browser if you will install required components."]
        </p>
        <p><a class="btn btn-default btn-sm" asp-controller="Home" asp-action="Download">@Localizer["Go to Download Page"] »</a></p>
    </div>
    <div class="col-md-3">
        <h2>@Localizer["Easy integration"]</h2>
        <p>
            @Localizer["If you are developer and looking for a free solution to convert files to PDF,"]
            @Localizer["you can easily integrate with our REST or SOAP API from any platform in just few minutes."]
            @Localizer["If you need to work offline, you can install our free Offline Application, which contains the same API services, and use it locally."]
            @Localizer["If you are .NET developer, you can download our libraries from Nuget and connect it to your project directly."]
        </p>
        <p><a class="btn btn-default btn-sm" asp-controller="Home" asp-action="Developers">@Localizer["That's what I need!"] »</a></p>
    </div>
    <div class="col-md-3">
        <h2>@Localizer["Really excellent?"]</h2>
        <p>@Localizer["Your opinion is very important for us. Please rate the quality of generated PDF files after you convert them."]
        @Localizer["We collect data about files quality, their size and the time spent for converting to analyze it and make our service more better."]
        @Localizer["You can evaluate work of our service at any time by viewing statistics of its work."]</p>
        <p><a class="btn btn-default btn-sm" asp-controller="Home" asp-action="Statistics">@Localizer["View statistics"] »</a></p>
    </div>
</div>

<div id="supportedFormatsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer["List of supported file formats:"]</h4>
            </div>
            <div class="modal-body">
                <p>@Model.SupportedFormatsString</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>

    </div>
</div>